AWS_S3_KEYID=AKIAYGDF6H6XRZ3DQ
AWS_S3_ACCESSKEY=oKTaxWBbKe+eZ8j+VUsujJxh71srZlOFnEzZOB
AWS_S3_REGION=us-east-1
AWS_S3_DEFAULT_BUCKET=bucket-email-templates

AWS_SES_KEYID=AKIAJLD7YCJWJ5KSQ
AWS_SES_ACCESSKEY=C03a5H+DZMJdEeyO4WJfqMLooNFr2WmuHePV94
AWS_SES_REGION=us-east-1